.auth-page {
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
}

.auth-page h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Playfair Display", serif;
    color: #111;
}

.auth-page form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f7f7f7;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #e0dfd9;
}

.auth-page input {
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid #cbc7be;
}

.auth-page button {
    padding: 0.7rem;
    background-color: #cbc7be;
    color: #111;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-weight: bold;
}

.auth-page button:hover {
    background-color: #e0dfd9;
}